# Data Types and Structures Assignment

# **Theory**

 1. What are data structures and why are they important ?
     - Data structures are ways of organizing and stroing data in a computer so that it can be accessed and manupulated effeciently.Some example of date structures are string , list , set , dictionary , tuples , array.
     - They make data access and operations (like search, insert, delete) faster. Help keep code clean and manageable, Essential for solving many programming and algorithmic problems and also Algorithm Support .

2. Explain the difference between mutable and immutable data types with examples
 - Mutable can be canged easily after creation , you can add , remove or modify elements easily in same object . Some examples of mutable date types are list , set , dictionary.

 - But immutable data types can't be changed after creation and you can't add add , remove or modify elements easily in same object. Some examples of immutable data types are string , tuple , int , float.

3. What are the main differences between lists and tuples in Python ?
 - Lists are mutable but tuples are immutable.
 - we use [ ] to create list but for tuple we use ( ) .
 - Tuples are generally faster than lists because they are immutable and use   less memory.

4. Describe how dictionaries store data .
 - In Python, a dictionary is a built-in data structure that stores data in the form of key-value pairs. Each key is used to uniquely identify a value, allowing for fast and efficient access to data. it is defiend as using { } and each key followed by a colon.

5. Why might you use a set instead of a list in Python ?
 - One of the main reasons to use a set instead of a list is to ensure data uniqueness. When working with data where duplicates are not allowed such as a collection of unique usernames or IDs a set automatically removes duplicate values, which saves time and effort.

   6. What is a string in Python and how is it different from list ?
 - Strings are immutable, while lists are mutable.
 - Strings contain only characters, while lists can contain elements of any data type.
 - Strings are defined using quotes, whereas lists are defined using square brackets.
 - Strings are primarily used for textual data, while lists are used for general-purpose data storage and manipulation.

7. How do tuples ensure data integrity in Python ?
 - Tuples is immutable so it is remain same after creation , can't be modified . Data integrity refers to the accuracy and consistency of data over its lifecycle. By using tuples, programmers can protect data from accidental changes. Since tuples do not allow modification, they are ideal for storing constant or fixed data that should not be altered during the execution of a program.

 8. What is hash table and how does it relate to dictionaries in Pyhthon ?
  - A hash table is a data structure that stores data in an associative manner. It uses a technique called hashing, where a key is converted into an index of an array using a hash function.
  - Each key-value pair in a dictionary is stored based on the hash of the key. When we access a value using a key, Python internally computes the hash of the key to find the index where the value is stored.

  9. Can lists contain different data types in Python ?
 - Yes , Python lists is heterogeneous , it cotain different data types like int , strng , complex , float etc.

  10. Explain why strings are immutable in Python ?
 - The primary reason strings are immutable in Python is because they are implemented as sequences of Unicode characters that are stored in memory as fixed, read-only data. When a string is created, Python allocates a fixed block of memory for it. Allowing in-place modifications would require copying or shifting data, which would make strings slower and more complex to manage.
 - Strings are implemented as immutable for performance, simplicity, and correctness in the design of the Python interpreter.

  11. What advantages do dictionaries offer over lists for certain task ?
 - While lists store items in a linear, ordered sequence using numeric indexes, dictionaries store data as key-value pairs, enabling faster and more meaningful data access.
 - no need to remember index position in dictionary

   12. Describe a scenario where using a tuple would be preferable over a list .
 - A tuple is preferable over a list when the data should remain constant, such as storing coordinates, RGB color values, or days of the week.
 - Scenario: Representing Days of the Week ;-
In many applications, you may need to store the days of the week as a fixed sequence of values. Since the names of the days do not change, a tuple is the ideal data structure for this purpose .

  13. How do sets handle duplicate values in Python ?
 - In Python, a set is an unordered collection of unique elements. When elements are added to a set, Python checks if the element already exists in the set.If the element is not present, it is added.
If the element already exists, the set ignores the duplicate and does not add it again.

 14. How does the "in" keyword work differently for lists and dictionaries ?
  - Using in with Lists:
When using in with a list, Python checks whether the specified value is present anywhere in the list.This requires Python to search sequentially through the list items until it finds a match or reaches the end.This operation has a linear time complexity, meaning the time to check increases with the size of the list.
  - Using in with Dictionaries: When using in with a dictionary, Python checks whether the specified key exists in the dictionary.Dictionaries are implemented as hash tables, so key lookup is very fast, typically constant time.Importantly, in checks only keys, not values, in dictionaries.

  15. Can you modify the elements of a tuple ? Explain why or why not .
 - Tuples are immutable, which means that once a tuple is created, its elements cannot be changed, added, or removed. Therefore, you cannot modify the elements of a tuple.
 - When a tuple is created, Python allocates a fixed block of memory for it. Allowing modifications would require resizing or copying, which contradicts the concept of immutability.

  16. What is nested dictionaries and give me an example of its use case ?
 - A nested dictionary in Python is a dictionary where the values themselves are dictionaries. This allows you to represent complex, hierarchical data structures in a clear and organized way.
 - use case : Storing Product Information in an Online Store ;
Suppose you are building an e-commerce application, and you need to store detailed information about products. Each product has attributes like price, stock, and details such as brand and category.

  17. Describe the time complexity of accessing elements in a dictionary .
 - In Python, a dictionary is an unordered collection of key-value pairs implemented using a hash table .Accessing elements in a dictionary by key is generally very efficient, with an average-case time complexity of O(1) due to Python’s underlying hash table implementation. This efficiency makes dictionaries ideal for fast lookups and large-scale data management.

  18. In what situations are lists preffered over dictionaries ?
 - Lists are preferred in situations where order, indexing, or simple collections of items are needed, especially when keys are not required. They are ideal for handling sequential data, performing positional operations, or when duplicate items are needed.

  19. why are dictionaries considered unordered and how does that affect data retrieval ?
   - dictionaries were considered unordered collections, which means they did not maintain the order in which items were added.
  Dictionaries were originally considered unordered because their internal structure was based on hashing, not the sequence of insertion. Although modern versions of Python preserve insertion order, dictionaries are still designed for fast key-based access, not position-based operations.This makes them powerful for lookups but less suited for tasks where the sequence of data is important.
   - Dictionaries use keys, not positions, to retrieve data.You cannot access items by index like in a list (my_dict[0] is invalid).The order of items doesn’t affect key-based access you still get the correct value for a given key.In Python versions before 3.7, the order of items when looping through a dictionary was not predictable.

  20. Explain the difference between a list and a dictionary in terms of data retrieval .
 -
A list stores items in a specific, ordered sequence. Data in a list is accessed using index numbers, which represent the position of an item. For example, my_list[2] retrieves the third item in the list. This makes lists ideal when the order of data matters, or when you need to perform operations based on item positions. it is slower
 - In contrast, a dictionary stores data as key-value pairs, and retrieval is done using keys instead of positions. For example, my_dict["name"] retrieves the value associated with the key "name". This allows for faster and more direct access, especially when working with labeled data.
 - lists use index-based retrieval, while dictionaries use key-based retrieval.

# **Practical**

  1. write a code to create a string with your name and print it .

In [ ]:
 name = ("my name is rahul")
print (name)

my name is rahul

 2. write a code to find the length of the string "Hello World" .

In [ ]:
 a = ("Hello World")
len(a)

11

  3. write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
 text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

 4. write a code to convert the string "hello" to uppercase.

In [ ]:
 text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

 5. write a code to replace the word "apple" with "orange" in the string " i like apple ".

In [ ]:
 text = "i like apple"
new_text = text.replace("apple", "orange")
print(new_text)

i like orange

 6. write a code to create a list with numbers 1 to 5 and print it.

In [1]:
 list_count = [1,2,3,4,5]
print(list_count)

[1, 2, 3, 4, 5]

 7. write a code to append the number 10 to the list [1,2,3,4] .

In [2]:
 numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

 8. write a code to remove the number 3 from the list [1,2,3,4,5].

In [4]:
 numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

 9. write a code to access the second element in the list ['a','b','c','d'] .

In [5]:
 _list = [ 'a','b','c','d']
_list[1]

'b'

 10. write a code to reverse the list [10, 20, 30, 40, 50]

In [6]:
 num = [10,20,30,40,50]
num.reverse()
print(num)

[50, 40, 30, 20, 10]

 11. write a code to create a tuple with the elements 100, 200, 300 and print it .

In [7]:
 my_tuple = (100, 200, 300 )
print(my_tuple)

(100, 200, 300)

 12. write a code to access the second-to-last element of the tuple ( 'red', 'green','blue','yellow') .

In [8]:
colour = ('red','green','blue','yellow' )
colour[-2]

'blue'

 13. write a code to find the minimum number in the tuple (10,20,5,15) .

In [9]:
num = (10,20,5,15)
minimum = min(num)
print(minimum)

5

14. write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [10]:
 animal = ('dog','cat','rabbit')
index = animal.index('cat')
print(index)

1

15. write a code to create a tuple containing three different fruits and chek if "kiwi" is in it .

In [11]:
fruit = ("mango","apple","banana")
"kiwi" in fruit

False

16. write a code to create a set with the elements 'a','b','c' and print it .

In [12]:
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

17. write a code to clear all elements from the set {1,2,3,4,5} .

In [13]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18. write a code to remove the element 4 from the set {1,2,3,4} .

In [14]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. write a code to find the union of two sets {1,2,3} and {3,4,5} .

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. write a code to find the intersection of two sets {1,2,3] and {2,3,4} .

In [16]:
set1 = {1,2,3}
set2 = {2,3,4}
inter_set = set1.intersection(set2)
print(inter_set)

{2, 3}

21. write a code to create a dictionary with the keys "name" , "age" and "city" , and print it  .

In [17]:
dictionary = {"name":"Papai", "age":24,"city":"Malda"}
print(dictionary)

{'name': 'Papai', 'age': 24, 'city': 'Malda'}

22. write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John','age':25} .

In [18]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. write a code to access the value associated with the key "name" in the dictionary {'name':'Alice','age':30} .

In [20]:
person = {'name':'Alice','age':30}
person['name']

'Alice'

24. write a code to remove the key "age" from the dictionary {'name': 'Bob','age':22,'city':'New York'} .

In [21]:
person = {'name': 'Bob','age':22,'city':'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. write a code to check if the key "city" exists in the dictionary {'name':'Alice', 'city':'Paris'} .

In [22]:
person = {'name':'Alice', 'city':'Paris'}
'city' in person

True

26. write a code to create a list , a tuple and a dictionary and print them all .

In [23]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Ravi', 'age': 28, 'city': 'Mumbai'}

# Printing all collections
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Ravi', 'age': 28, 'city': 'Mumbai'}

27. write a code to create a list of 5 random numbers between 1 and 100 , sort it in ascending order and print the result . (replaced)

In [24]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list:", random_numbers)

Sorted list: [2, 34, 41, 78, 89]

28. write a code to create a list with strings and print the element at the third index .

In [25]:
fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']
print(fruits[3])

mango

29. write a code to combine two dictionaries into one and print the result .

In [26]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. write a code to convert a list of strings into a set .

In [27]:
my_list = ['apple', 'banana', 'cherry', 'mango', 'orange']
set(my_list)

{'apple', 'banana', 'cherry', 'mango', 'orange'}